import React from 'react';
import PropTypes from 'prop-types';
import './{{pascalCase name}}.style.scss';

const {{pascalCase name}} = () => {
  return (
    <div>
      {{pascalCase name}}
    </div>
  );
};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};
